// Ширина экрана

$desktop: 1366px;
$tablet: 768px;
$phone: 320px;

$primary-color: #102654;
$secondary-color: #ffffff;
$accent-color: #103aae;
$text-gradient-start: #d10a42;
$text-gradient-end: #0041ca;
$additional-color: #f8f9fc;
$background-additional: #1c3374;
$background-footer: #030a1a;
$background-gradient-start: #003d85;
$background-gradient-end: #b80027;
$background-banner: #ed0233;
$button-gradient-end: #003eb7;
$error-color: #ff121f;
$button-tab-border: rgba(16, 38, 84, 0.2);

$font-family: "Roboto Condensed", "Arial", sans-serif;
$secondary-family: "Alumni Sans", "Arial", sans-serif;
